.container {
  font-family: sans-serif;
  background-color: #ddd;
  font-size: 30px;
  margin: 30px;
  border: 5px solid black;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.el--1 {
  background-color: blueviolet;
  /* align-self: flex-start; */
  order: 1;
}

.el--2 {
  background-color: orangered;
}

.el--3 {
  background-color: green;
  height: 250px;
}

.el--4 {
  background-color: goldenrod;
}

.el--5 {
  background-color: palevioletred;
  /* align-self: stretch; */
  order: -2;
}

.el--6 {
  background-color: steelblue;
}

.el--7 {
  background-color: yellow;
  order: -1;
}

.el--8 {
  background-color: crimson;
}

.el {
  flex-basis: 100px;
}
